{% extends 'blog/base.html' %}
{% block content %}
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="display-4">About Us</h2>
                    <p class="lead">Welcome to our weblog! We are passionate about sharing stories, knowledge, and insights about various topics.</p>
                    <p>We believe in creating a community where people can connect, learn, and engage with each other. Our team of writers is dedicated to providing high-quality content that informs, entertains, and inspires our readers.</p>
                    <p>Feel free to explore our articles, leave comments, and join our community discussions. We're thrilled to have you here!</p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
