{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Contact section -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="display-4">Contact Us</h2>
                    <p class="lead">Got a question, suggestion, or just want to say hi? We'd love to hear from you!</p>
                    <!-- Contact form -->
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <!-- <div class="mb-3">
                            <label for="name" class="form-label">Your Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter your name">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Your Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter your email">
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Message</label>
                            <textarea class="form-control" id="message" rows="5" placeholder="Type your message here"></textarea>
                        </div> -->
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </form> 
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
