{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block post_detail %}
    
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{post.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{post.created_at}} by {{post.author}}</div>
                                        
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{post.thumbnail.url}}"/></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{post.content}}</p>
                    {% if post.author == user %}
                        <a class="btn btn-secondary" href="{% url 'update' post.slug %}" >Update</a>
                        <a class="btn btn-danger" href="{% url 'delete' post.slug %}" >Delete</a>
                    {% endif %}
                </section>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        {% if new_comment %}
                        <div class="alert alert-success" role="alert">
                          Your comment is awaiting moderation
                        </div>
                        {% else %}
                        <form method="post" class="mb-4">
                            {% csrf_token %}
                            {{ comment_form | crispy }} 
                            <button type="submit" class="btn btn-primary">Post Comment</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </section>
            
            <!-- Existing comments -->
            <section class="mb-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Comments</h5>
                        {% for comment in comments %}
                            <div class="media mb-4">
                                <img class="mr-3 rounded-circle" src="{{user.profile.image.url}}" alt="User Avatar" style="width: 50px; height: 50px;">
                                <div class="media-body">
                                    <h6 class="mt-0">{{ comment.name }}</h6>
                                    <p>{{ comment.body }}</p>
                                </div>
                            </div>
                        {% empty %}
                            <p>No comments yet. Be the first to comment!</p>
                        {% endfor %}
                    </div>
                </div>
            </section>
            
        </div>
    </div>
</div>
{% endblock post_detail %}
