{% extends 'blog/base.html' %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 class="text-center mb-4">Confirm Password Reset</h2>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="hidden" name="uid" value="{{ uid }}">
                    <input type="hidden" name="token" value="{{ token }}">
                    <div class="mb-3">
                        <label for="id_new_password1" class="form-label">New password</label>
                        <input type="password" class="form-control" id="id_new_password1" name="new_password1">
                    </div>
                    <div class="mb-3">
                        <label for="id_new_password2" class="form-label">Confirm new password</label>
                        <input type="password" class="form-control" id="id_new_password2" name="new_password2">
                    </div>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
