{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <h1>User Profile</h1>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Profile Information</h5>
                        <div class="row">
                            <div class="col-md-4">
                                {% if user.profile.image %}
                                    <img src="{{ user.profile.image.url }}" alt="User Avatar" class="img-fluid rounded-circle mb-3" style="width: 200px; height: 200px;">
                                {% else %}
                                    <img src="{% static 'assets/default.jpg' %}" alt="Default Avatar" class="img-fluid rounded-circle mb-3" style="width: 200px; height: 200px;">                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <p><strong>Username:</strong> {{ user.username }}</p>
                                <p><strong>Email:</strong> {{ user.email }}</p>
                                <p><strong>Gender:</strong> {{ user.profile.get_gender_display }}</p>
                                <p><strong>Joined Date:</strong> {{ user.date_joined|date:"F d, Y" }}</p>
                                <!-- Adjust the date format as per your preference -->
                                <!-- Add more profile details here -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add more profile-related content or sections here -->
            </div>
            <!-- You can add more columns or content to the profile page layout -->
        </div>
    </div>
{% endblock content %}
